<template>
  <v-speed-dial
    v-model="active"
    top
    right
    direction="bottom"
    open-on-hover
    transition="scale-transition"
    :style="wrapperStyle"
  >
    <template #activator>
      <v-btn
        v-model="active"
        color="action"
        :loading="loading"
        :disabled="loading"
        fab
      >
        <v-icon v-if="active">mdi-close</v-icon>
        <v-icon v-else>{{ icon }}</v-icon>
      </v-btn>
    </template>
    <slot />
  </v-speed-dial>
</template>
<script>
export default {
  name: 'ActionButtons',
  props: {
    icon: {
      type: String,
      required: true
    },
    wrapperStyle: {
      type: String,
      required: true
    },
    loading: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      active: false
    }
  }
}
</script>
