<template>
  <v-dialog
    v-model="showDialog"
    persistent
    max-width="400"
  >
    <v-card>
      <v-card-title class="text-h5">
        {{ $t(title) }}
      </v-card-title>

      <v-card-text v-if="0 < message.length">
        <hr class="mb-3">
        {{ $t(message) }}
      </v-card-text>

      <v-card-actions>
        <v-spacer />

        <v-btn color="secondary" text @click="decline">
          {{ $t(declineButton) }}
        </v-btn>

        <v-btn color="primary" @click="accept">
          {{ $t(acceptButton) }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'general.confirmation.title'
    },
    message: {
      type: String,
      default: ''
    },
    acceptButton: {
      type: String,
      default: 'general.confirmation.accept'
    },
    declineButton: {
      type: String,
      default: 'general.confirmation.decline'
    }
  },
  data() {
    return {
      showDialog: false
    }
  },
  methods: {
    openDialog() {
      this.showDialog = true
    },
    closeDialog() {
      this.showDialog = false
    },
    accept() {
      this.closeDialog()

      this.$emit('accept')
    },
    decline() {
      this.closeDialog()

      this.$emit('decline')
    }
  }
}
</script>
