<template>
  <span v-if="displayAsDate">{{ $d(date, display) }}</span>
  <span v-else>{{ fromNow }}</span>
</template>

<script>
import moment from 'moment'

export default {
  name: 'VueDate',
  props: {
    date: {
      required: true,
      type: [String, Date, moment]
    },
    display: {
      type: String,
      required: true,
      validator: display => {
        return ['from-now', 'long', 'medium', 'short'].includes(display)
      }
    }
  },
  computed: {
    fromNow() {
      moment.locale(this.$i18n.locale)

      return moment(this.date).fromNow()
    },
    displayAsDate() {
      return ['long', 'medium', 'short'].includes(this.display)
    }
  }
}
</script>
