<template>
  <v-parallax
    :src="imageLocation"
    :alt="imageAlt"
    :class="imageClass"
    :height="height"
    dark
  >
    <slot />
  </v-parallax>
</template>

<script>
export default {
  name: 'VueImage',
  props: {
    image: {
      type: String,
      required: true
    },
    height: {
      type: Number,
      required: false,
      default: 512
    }
  },
  computed: {
    imageConfig() {
      const imageData = this.$store.getters['Images/get'](this.image)

      if (undefined === imageData) {
        throw new Error(`Image not found "${this.image}"`)
      }

      const configuration = {
        location: '',
        alt: this.image.replace('/', ' ').replace('-', ' '),
        class: ''
      }

      if ('string' === typeof imageData) {
        configuration.location = imageData
      }

      if ('object' === typeof imageData) {
        configuration.location = imageData.location
        configuration.class    = imageData.class

        if (undefined !== imageData.alt && 0 < imageData.alt.length) {
          configuration.alt = imageData.alt
        }
      }

      if (undefined === configuration.location || 0 === configuration.location.length) {
        throw new Error(`Image configuration invalid "${this.image}"`)
      }

      return configuration
    },
    imageLocation() {
      return `/img${this.imageConfig.location}`
    },
    imageAlt() {
      return this.imageConfig.alt
    },
    imageClass() {
      return this.imageConfig.class
    }
  }
}
</script>
