<template>
  <v-app :dark="dark">
    <v-navigation-drawer
      v-model="drawer"
      :clipped="clipped"
      :mini-variant="collapsed"
      right
      fixed
      app
      dark
    >
      <v-list>
        <v-list-item class="px-3">
          <v-list-item-action>
            <v-list-item-avatar>
              <v-img src="https://randomuser.me/api/portraits/men/75.jpg"></v-img>
            </v-list-item-avatar>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>
              {{ currentUser.name }}
            </v-list-item-title>
            <v-list-item-subtitle>{{ currentUser.email }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list>
        <v-list-item
          v-for="(item, index) in items"
          :key="index"
          :to="localePath(item.to)"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list>
        <v-list-item
          dense
          exact
          @click.stop="collapsed = !collapsed"
        >
          <v-list-item-action>
            <v-icon>{{ collapsedExpandedIcon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="collapsedExpandedText" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      fixed
      app
      dark
    >
      <v-toolbar-title v-text="title" />
      <v-spacer />

      <nuxt-link
        v-for="locale in availableLocales"
        :key="locale.code"
        :to="switchLocalePath(locale.code)"
        class="mr-2"
      >
        {{ locale.name }}
      </nuxt-link>

      <v-btn icon @click.stop="switchTheme">
        <v-icon v-if="dark">mdi-lightbulb-on</v-icon>
        <v-icon v-else>mdi-lightbulb-outline</v-icon>
      </v-btn>

      <v-app-bar-nav-icon
        @click.stop="drawer = !drawer"
      />
    </v-app-bar>

    <v-main class="foreground-elem">
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>

    <v-footer app>
      <span>miketralala.com &copy; {{ new Date().getFullYear() }}</span>
    </v-footer>

    <vue-particles
      class="background-elem"
      color="#455A64"
      :particleOpacity="0.5"
      :particlesNumber="125"
      shapeType="circle"
      :particleSize="2"
      linesColor="#455A64"
      :linesWidth="1"
      :lineLinked="true"
      :lineOpacity="0.2"
      :linesDistance="250"
      :moveSpeed="0.5"
    />
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data() {
    const hasSignedInUser = null !== this.$store.state.user

    return {
      title: 'miketralala.com',
      dark: true,
      drawer: false,
      collapsed: false,
      clipped: false,
      items: [
        {
          icon: 'mdi-post',
          title: 'Blog posts',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'All about me',
          to: '/inspire'
        },
        {
          icon: 'mdi-account',
          title: hasSignedInUser ? 'Account' : 'Sign in',
          to: '/account'
        }
      ]
    }
  },
  computed: {
    collapsedExpandedIcon() {
      return 'mdi-arrow-collapse-' + (this.collapsed ? 'left' : 'right')
    },
    collapsedExpandedText() {
      return this.$t(this.collapsed ? 'navbar.expand' : 'navbar.collapse')
    },
    currentUser() {
      return this.$store.getters.currentUser()
    },
    availableLocales() {
      return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
    }
  },
  methods: {
    switchTheme() {
      this.dark = ! this.dark

      this.$vuetify.theme.dark = this.dark
    }
  }
}
</script>
<style>
.background-elem {
  position : fixed;
  width    : 120%;
  height   : 120%;
  z-index  : 0;
  overflow : hidden;
  margin   : -10% -10%;
}

.foreground-elem {
  z-index : 1;
}
</style>
