<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card elevation="2">
        <VueImage
          :image="image"
          :height="400"
        />
        <v-card-title>
          {{ message }}
        </v-card-title>
        <v-card-text>
          <p>{{ error.message || caption }}</p>

          <v-btn
            :to="localeRoute('/')"
            block
            outlined
            color="primary"
            elevation="2"
          >
            {{ $t('blog.posts') }}
          </v-btn>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'EmptyLayout',
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  head() {
    return {title: this.caption}
  },
  computed: {
    image() {
      if (404 === this.error.statusCode) {
        return 'error/puzzle'
      }

      return 'error/one-plus-one-equals-three'
    },
    message() {
      if (404 === this.error.statusCode) {
        return this.$t('error.page.message.not-found')
      }

      if (403 === this.error.statusCode) {
        return this.$t('error.page.message.forbidden')
      }

      if (400 === this.error.statusCode) {
        return this.$t('error.page.message.user-error')
      }

      return this.$t('error.page.message.general')
    },
    caption() {
      if (404 === this.error.statusCode) {
        return this.$t('error.page.title.not-found')
      }

      if (403 === this.error.statusCode) {
        return this.$t('error.page.title.forbidden')
      }

      if (400 === this.error.statusCode) {
        return this.$t('error.page.title.user-error')
      }

      return this.$t('error.page.title.general')
    }
  }
}
</script>

<style scoped>
h1 {
  font-size : 20px;
}
</style>
