<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-btn
        v-if="userIsAuthor"
        :loading="saving"
        color="primary"
        elevation="3"
        class="mb-5"
        large
        block
        @click="startAdding"
      >
        {{ $t('blog.post.add.button') }}
      </v-btn>

      <client-only>
        <BlogPost
          v-for="post in posts"
          :key="post.id"
          :post="post"
        />
      </client-only>

      <v-btn
        color="accent"
        elevation="3"
        large
        block
        outlined
      >
        <v-icon>mdi-chevron-down</v-icon>
        {{ $t('blog.more.button') }}
      </v-btn>
    </v-col>

    <BlogPostForm
      ref="addForm"
      @save="add"
    />
  </v-row>
</template>

<script>
import usersMixins from '../mixins/users.mixins'

export default {
  name: 'IndexPage',
  mixins: [usersMixins],
  data() {
    return {
      saving: false
    }
  },
  computed: {
    posts() {
      return this.$store.getters['BlogPosts/orderedList']()
    }
  },
  methods: {
    startAdding() {
      this.$refs.addForm.openDialog()
    },
    add(addPost) {
      this.saving = true
      this.$store.dispatch('BlogPosts/add', addPost)
          .then(() => {
            this.saving = false
            this.$refs.addForm.resetSubject()
          })
    }
  }
}
</script>
