<template>
  <v-row>
    <v-col class="text-center">

      <v-flex align-self-center style="margin-top: 20%">
      <h3>Sometimes you've got to get lost, <br />before you find what you're looking for</h3>
      </v-flex>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'InspirePage'
}
</script>
