<template>
  <v-tooltip
    v-if="! userIsAuthorOf(subject)"
    :top="tooltipTop"
    :right="tooltipRight"
    :bottom="tooltipBottom"
    :left="tooltipLeft"
  >
    <template #activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        :class="classes"
        :small="small"
        :text="small && ! floatingActionButton"
        color="warning"
        plain
        v-on="on"
      >
        <v-icon :small="small">mdi-alert</v-icon>
      </v-btn>
    </template>
    <span>{{ $t('blog.reply.report-abuse.button') }}</span>
  </v-tooltip>
</template>
<script>
import ButtonMixin from '../../mixins/button.mixin'

export default {
  name: 'BlogAbuseButton',
  mixins: [ButtonMixin]
}
</script>
