<template>
  <v-tooltip
    v-show="userIsAdministrator || userIsAuthorOf(subject)"
    :top="tooltipTop"
    :right="tooltipRight"
    :bottom="tooltipBottom"
    :left="tooltipLeft"
  >
    <template #activator="{ on, attrs }">
      <v-btn
        v-show="userIsAdministrator || userIsAuthorOf(subject)"
        v-bind="attrs"
        :fab="floatingActionButton"
        :small="small"
        :text="small && ! floatingActionButton"
        color="delete"
        v-on="on"
        @click="startDeleting"
      >
        <v-icon :small="small">mdi-delete</v-icon>
      </v-btn>
    </template>

    <span>{{ $t('blog.post.delete.button') }}</span>
  </v-tooltip>
</template>

<script>
import ButtonMixin from '../../mixins/button.mixin'

export default {
  name: 'BlogDeleteButton',
  mixins: [ButtonMixin],
  methods: {
    startDeleting(event) {
      this.setInProgress()
      this.$emit('click', event)
    }
  }
}
</script>
