<template>
  <v-tooltip
    v-show="userIsAuthorOf(subject)"
    :top="tooltipTop"
    :right="tooltipRight"
    :bottom="tooltipBottom"
    :left="tooltipLeft"
  >
    <template #activator="{ on, attrs }">
      <v-btn
        v-show="userIsAuthorOf(subject)"
        v-bind="attrs"
        :fab="floatingActionButton"
        :small="small"
        :text="text"
        color="edit"
        v-on="on"
        @click="startEditing"
      >
        <v-icon :small="small">mdi-pencil</v-icon>
      </v-btn>
    </template>
    <span>{{ $t('blog.edit.button') }}</span>
  </v-tooltip>
</template>

<script>
import ButtonMixin from '../../mixins/button.mixin'

export default {
  name: 'BlogEditButton',
  mixins: [ButtonMixin],
  props: {
    text: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    startEditing(event) {
      this.setInProgress()
      this.$emit('click', event)
    }
  }
}
</script>
