<template>
  <v-tooltip
    :top="tooltipTop"
    :right="tooltipRight"
    :bottom="tooltipBottom"
    :left="tooltipLeft"
  >
    <template #activator="{ on, attrs }">
      <v-btn
        v-bind="attrs"
        color="secondary"
        :outlined="! isLikedByUser"
        :loading="liking"
        :disabled="isDisabled"
        :small="small"
        :class="classes"
        elevation="2"
        v-on="on"
        @click.stop="toggleLike"
      >
        <v-icon :small="small">mdi-thumb-up</v-icon>
      </v-btn>
    </template>
    <span v-if="! isLikedByUser">{{ $t('blog.like.button') }}</span>
    <span v-if="isLikedByUser">{{ $t('blog.unlike.button') }}</span>
  </v-tooltip>
</template>

<script>
import _ from 'lodash'
import ButtonMixin from '../../mixins/button.mixin'

export default {
  name: 'BlogLikeButton',
  mixins: [ButtonMixin],
  data() {
    return {
      liking: false
    }
  },
  computed: {
    isLikedByUser() {
      return 0 < _.filter(this.subject.likes, like => this.isCurrentUser(like.by)).length
    },
    isDisabled() {
      return this.disabled
        || ! this.userIsSignedIn
        || this.isCurrentUser(this.subject.author)
    }
  },
  methods: {
    toggleLike() {
      this.setInProgress()
      this.liking = true

      const action = this.isLikedByUser ? 'unlike' : 'like'

      this.$store.dispatch(`BlogPosts/${action}`, {subject: this.subject, user: this.currentUser})
          .then(() => {
            this.liking = false
            this.setIdle()
          })
    }
  }
}
</script>
