<template>
  <div class="ml-3">
    <v-card-title class="py-1 reply-title">
      <strong>{{ reply.author.name }}</strong>
      <em class="font-weight-light ml-3 ">
        <span v-if="isCreationPending">{{ $t('blog.reply.add.pending') }}</span>
        <span v-else-if="isCreating">{{ $t('blog.reply.add.creating') }}</span>
        <VueDate v-else :date="reply.at" display="from-now" />
      </em>
      <div v-if="likes > 0" class="ml-3">
        <v-icon class="mr-1" x-small>mdi-thumb-up</v-icon>
        <span>{{ $tc('blog.reply.like.count', likes) }}</span>
      </div>
    </v-card-title>

    <v-card-text v-if="! showEditForm" class="pb-0 reply-text">
      <p
        v-for="content in contents"
        :key="content.key"
      >
        {{ content.data }}
      </p>
      <em v-if="reply.lastEditedAt">- <small>{{ $t('blog.reply.last-edited-at', {'editedAt': reply.lastEditedAt.fromNow()}) }}</small></em>
    </v-card-text>

    <v-card-text v-if="showEditForm" class="mb-3 pb-0">
      <v-textarea
        v-model="replyContent"
        auto-grow
      />
    </v-card-text>

    <v-card-actions v-if="reply.id && showEditForm" class="pt-0 ml-2">
      <v-btn
        color="primary"
        :loading="editing"
        small
        @click="edit"
      >
        {{ $t('blog.edit.submit') }}
      </v-btn>

      <v-btn
        color="secondary"
        :disabled="editing"
        text
        small
        @click="cancelEditing"
      >
        {{ $t('blog.edit.cancel') }}
      </v-btn>
    </v-card-actions>

    <v-card-actions
      v-if="reply.id && ! showEditForm"
      class="pt-0 ml-2"
    >
      <BlogReplyButton
        v-model="showReplyForm"
        :subject="reply"
        small
        classes="mr-2"
      >
        {{ $t('blog.reply.to', {'author': reply.author.name}) }}
      </BlogReplyButton>

      <BlogLikeButton
        :subject="reply"
        small
        classes="mr-2"
      />

      <BlogAbuseButton
        :subject="reply"
        small
        classes="mr-1"
      />

      <BlogDeleteButton
        :subject="reply"
        small
        classes="mr-1"
        @click="confirmDeletion"
      />

      <BlogEditButton
        :subject="reply"
        small
        text
        classes="mr-1"
        @click="startEditing"
      />
    </v-card-actions>

    <v-col
      cols="12"
    >
      <BlogPostReplies
        v-model="showReplyForm"
        :replies="reply.replies"
        :parent="reply"
      />
    </v-col>

    <VueConfirmation
      ref="deleteConfirmation"
      title="blog.reply.delete.confirmation.title"
      message="blog.reply.delete.confirmation.message"
      accept-button="blog.reply.delete.confirmation.accept"
      @accept="deletePost"
    />
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'
import UsersMixins from '../../mixins/users.mixins'

export default {
  name: 'BlogPostReply',
  mixins: [UsersMixins],
  props: {
    reply: {
      type: Object,
      required: true,
      validator: post => _.has(post, 'content')
        && _.has(post, 'author')
        && _.has(post, 'at')
        && _.has(post, 'replies')
    },
    parent: {
      type: ! Object,
      default: null
    }
  },
  data() {
    return {
      showReplyForm: false,
      showEditForm: false,
      editing: false,
      liking: false,
      deleting: false,
      replyContent: this.reply.content || ''
    }
  },
  computed: {
    hasSignedInUser() {
      return null !== this.$store.state.user
    },
    currentUserIsAuthorOfThisReply() {
      return this.$store.state.user?.id === this.reply.author.id
    },
    currentUserHasAlreadyReplied() {
      return 0 < _.filter(this.reply.replies, reply => reply.author.id === this.$store.state.user?.id).length
    },
    currentUserIsAdministrator() {
      return this.$store.state.user?.roles.includes('ROLE_ADMINISTRATOR')
    },
    isCreationPending() {
      return null === this.reply.id && null !== this.reply.at
    },
    isCreating() {
      return null === this.reply.id && null === this.reply.at
    },
    isLikedByUser() {
      return 0 < _.filter(this.reply.likes, like => this.isCurrentUser(like.by)).length
    },
    likes() {
      return this.$store.getters['BlogPosts/likes'](this.reply)
    },
    repliedAt() {
      return moment(this.reply.at).fromNow()
    },
    contents() {
      const contents = []
      _.forEach(this.reply.content.split('\n'), content => {
        if (0 === content.length) {
          return
        }

        contents.push({data: content, key: _.uniqueId('content_')})
      })

      return contents
    }
  },
  methods: {
    toggleReplyForm() {
      this.showReplyForm = ! this.showReplyForm
    },
    collapseReplyForm() {
      this.showReplyForm = false
    },
    confirmDeletion() {
      this.$refs.deleteConfirmation.openDialog()
    },
    toggleLike() {
      this.liking = true

      const action = this.isLikedByUser ? 'BlogPosts/unlike' : 'BlogPosts/like'

      this.$store.dispatch(action, {subject: this.reply, user: this.currentUser})
          .then(() => {
            this.liking = false
          })
    },
    startEditing() {
      this.showEditForm = true
    },
    edit() {
      this.editing = true
      this.$store.dispatch('BlogPosts/editReply', {parent: this.parent, reply: this.reply, content: this.replyContent})
          .then(() => {
            this.editing      = false
            this.showEditForm = false
          })
    },
    cancelEditing() {
      this.showEditForm = false
    },
    deletePost() {
      this.deleting = true

      this.$store.dispatch('BlogPosts/removeReply', {parent: this.parent, reply: this.reply})
          .then(() => {
            this.deleting = false
          })
    }
  }
}
</script>

<style scoped lang="scss">
.reply-title {
  font-size: 90%;
  color: lightgrey;
}

.reply-text {
  font-size: 90%;
  color: grey;
}
</style>
