<template>
  <div>
    <BlogReplyForm
      v-show="showForm"
      ref="form"
      @content-updated="updateContent"
    >
      <v-btn
        color="primary"
        :loading="saving"
        small
        @click="save"
      >
        {{ $t('blog.reply.add.save') }}
      </v-btn>

      <v-btn
        color="secondary"
        text
        small
        @click="cancelReply"
      >
        {{ $t('blog.reply.add.cancel') }}
      </v-btn>
    </BlogReplyForm>

    <BlogPostReply
      v-if="showForm"
      :reply="newReply"
    />

    <BlogPostReply
      v-for="reply in replies"
      :key="reply.id"
      :reply="reply"
      :parent="parent"
    />
  </div>
</template>

<script>
export default {
  name: 'BlogPostReplies',
  model: {
    prop: 'showForm',
    event: 'show'
  },
  props: {
    replies: {
      type: Object,
      required: true
    },
    parent: {
      type: Object,
      required: true
    },
    showForm: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      saving: false,
      newReply: this.createNewReply()
    }
  },
  methods: {
    cancelReply() {
      this.$emit('show', false)
    },
    updateContent(content) {
      this.newReply.content = content
    },
    save() {
      if (! this.$refs.form.$refs.form.validate()) {
        return
      }

      this.saving = true

      const reply  = this.newReply
      const parent = this.parent

      this.$store.dispatch('BlogPosts/addReply', {parent, reply})
          .then(() => {
            this.newReply = this.createNewReply()
            this.saving   = false
            this.$refs.form.clear()

            this.$emit('show', false)
            this.$emit('saved', reply)
          })
    },
    createNewReply() {
      const author = this.$store.state.user

      return {
        id: null,
        author,
        content: this.$t('blog.reply.add.placeholder'),
        at: null,
        replies: {}
      }
    }
  }
}
</script>
