<template>
  <v-dialog
    v-model="dialogOpen"
    persistent
    max-width="1000px"
  >
    <v-card>
      <v-card-title>
        <span class="text-h5">{{ $t(`blog.post.${actionType}.dialog-title`) }}</span>
      </v-card-title>

      <v-card-text>
        <v-container>
          <v-row>
            <v-col>
              <v-text-field
                v-model="subject.title"
                :label="$t(`blog.post.form.label.title`)"
                required
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-textarea
                v-model="subject.content"
                :label="$t(`blog.post.form.label.content`)"
                auto-grow
                required
              />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-select
                v-model="subject.image"
                :items="imageItems"
                :label="$t(`blog.post.form.label.image`)"
                required
              />
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn
          color="secondary"
          outlined
          @click="cancel"
        >
          {{ $t('blog.post.form.cancel') }}
        </v-btn>
        <v-btn
          color="primary"
          elevation="2"
          @click="save"
        >
          {{ $t(`blog.post.${actionType}.submit`) }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import _ from 'lodash'

const createPostObject = post => ({
  id: post?.id || null,
  title: post?.title || '',
  content: post?.content || '',
  image: post?.image || ''
})

export default {
  name: 'BlogPostForm',
  props: {
    post: {
      type: Object,
      required: false,
      default() {
        return createPostObject()
      }
    }
  },
  data() {
    return {
      dialogOpen: false,
      saving: true,
      subject: createPostObject(this.post)
    }
  },
  computed: {
    actionType() {
      return null === this.subject.id ? 'add' : 'edit'
    },
    imageItems() {
      const options = []
      _.forEach(this.$store.state.Images, (images, group) => {
        options.push({
          header: group
        })

        _.forEach(images, (image, name) => {
          options.push({
            value: [group, name].join('/'),
            text: name
          })
        })
      })

      return options
    }
  },
  methods: {
    openDialog() {
      this.dialogOpen = true
    },
    closeDialog() {
      this.dialogOpen = false
    },
    save() {
      this.saving = true
      this.$emit('save', this.subject)
      this.closeDialog()
    },
    cancel() {
      this.resetSubject()
      this.$emit('cancel')
      this.closeDialog()
    },
    resetSubject() {
      this.subject = createPostObject(this.post)
    }
  }
}
</script>
