<template>
  <div class="mt-5 mb-5">
    <BlogPostTitle
      :title="post.title"
      :image="post.image"
      style="z-index: 1"
    />

    <v-card class="mx-5 blog-post" elevation="3" style="margin-top:-5px">
      <v-card-text class="pt-5">
        <p v-for="content in contents" :key="content.key">
          {{ content.data }}
        </p>

        <v-row>
          <v-col>
            <v-chip v-show="'DRAFT' === post.state" label color="accent">
              <v-icon class="mr-2">mdi-alert-outline</v-icon>
              {{ $t('blog.post.state.draft') }}
            </v-chip>
          </v-col>

          <v-col cols="auto" class="text-right">
            <v-chip v-if="0 < likes" label small outlined :color="isLikedByUser ? 'accent' : undefined">
              <v-icon class="mr-1" small>mdi-thumb-up-outline</v-icon>
              {{ $tc('blog.like.count', likes) }}
            </v-chip>

            <v-chip label small outlined>
              <v-icon class="mr-1" small>mdi-clock-outline</v-icon>
              <VueDate :date="post.lastEditedAt" display="from-now" />
            </v-chip>

            <v-chip label small outlined>
              <v-icon class="mr-1" small>mdi-account-outline</v-icon>
              {{ post.author.name }}
            </v-chip>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions class="mr-2">
        <v-spacer />

        <BlogLikeButton
          v-model="inProgress"
          :subject="post"
          :disabled="postIsDraft"
        />

        <BlogReplyButton
          v-model="showReplyForm"
          :subject="post"
          :disabled="postIsDraft"
        />
      </v-card-actions>

      <BlogPostReplies
        v-model="showReplyForm"
        :replies="post.replies"
        :parent="post"
      />

      <ActionButtons
        :loading="inProgress"
        icon="mdi-circle-edit-outline"
        wrapper-style="right:-25px"
      >
        <BlogPublishButton
          v-model="inProgress"
          :subject="post"
          tooltip-position="left"
          floating-action-button
          small
          @click="confirmPublication"
        />
        <BlogEditButton
          v-model="inProgress"
          :subject="post"
          tooltip-position="left"
          floating-action-button
          small
          @click="startEditing"
        />

        <BlogDeleteButton
          v-model="inProgress"
          :subject="post"
          tooltip-position="left"
          floating-action-button
          small
          @click="confirmDeletion"
        />
      </ActionButtons>
    </v-card>

    <VueConfirmation
      ref="deleteConfirmation"
      title="blog.post.delete.confirmation.title"
      message="blog.post.delete.confirmation.message"
      accept-button="blog.post.delete.confirmation.accept"
      @accept="deletePost"
      @decline="setIdle"
    />

    <VueConfirmation
      ref="publicationConfirmation"
      @accept="publishPost"
      @decline="setIdle"
    />

    <BlogPostForm
      ref="editForm"
      :post="post"
      @save="edit"
      @cancel="setIdle"
    />
  </div>
</template>

<script>
import _ from 'lodash'
import usersMixins from '../../mixins/users.mixins'

export default {
  name: 'BlogPost',
  mixins: [usersMixins],
  props: {
    post: {
      type: Object,
      required: true,
      validator: post => _.has(post, 'title')
        && _.has(post, 'content')
        && _.has(post, 'image')
        && _.has(post, 'author')
        && _.has(post, 'lastEditedAt')
        && _.has(post, 'replies')
    }
  },
  data() {
    return {
      inProgress: false,
      showReplyForm: false,
      actionButtonActive: false,
      editing: false,
      deleting: false,
      liking: false
    }
  },
  computed: {
    contents() {
      const contents = []
      _.forEach(this.post.content.split('\n'), content => {
        if (0 === content.length) {
          return
        }

        contents.push({data: content, key: _.uniqueId('content_')})
      })

      return contents
    },
    postIsDraft() {
      return 'DRAFT' === this.post.state
    },
    isAuthoredByUser() {
      return this.isCurrentUser(this.post.author)
    },
    isRepliedByUser() {
      return 0 < _.filter(this.post.replies, reply => this.isCurrentUser(reply.author)).length
    },
    isLikedByUser() {
      return 0 < _.filter(this.post.likes, like => this.isCurrentUser(like.by)).length
    },
    likes() {
      return this.$store.getters['BlogPosts/likes'](this.post)
    }
  },
  methods: {
    setInProgress() {
      this.inProgress = true
    },
    setIdle() {
      this.inProgress = false
    },
    toggleReplyForm() {
      this.showReplyForm = ! this.showReplyForm
    },
    collapseReplyForm() {
      this.showReplyForm = false
    },
    toggleLike() {
      this.liking = true

      const action = this.isLikedByUser ? 'BlogPosts/unlike' : 'BlogPosts/like'

      this.$store.dispatch(action, {subject: this.post, user: this.currentUser})
          .then(() => {
            this.liking = false
          })
    },
    startEditing() {
      this.setInProgress()
      this.$refs.editForm.openDialog()
    },
    edit(postChanges) {
      this.setInProgress()
      postChanges.post = this.post

      this.$store.dispatch('BlogPosts/edit', postChanges)
          .then(() => {
            this.setIdle()
          })
    },
    confirmPublication() {
      this.setInProgress()
      this.$refs.publicationConfirmation.openDialog()
    },
    publishPost() {
      this.setInProgress()
      this.$store.dispatch('BlogPosts/publish', this.post)
          .then(() => {
            this.setIdle()
          })
    },
    confirmDeletion() {
      this.setInProgress()
      this.$refs.deleteConfirmation.openDialog()
    },
    deletePost() {
      this.setInProgress()
      this.$store.dispatch('BlogPosts/remove', this.post)
          .then(() => {
            this.setIdle()
          })
    }
  }
}
</script>

<style scoped lang="scss">
.post-information {
  font-size: 90%;
  color: lightgrey;
}

.blog-post .v-speed-dial {
  position: absolute;
}

.blog-post .v-btn--floating {
  position: relative;
}
</style>
