<template>
  <v-card elevation="5">
    <VueImage
      :image="image"
      :height="250"
    >
      <h1>{{ title }}</h1>
    </VueImage>
  </v-card>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
h1 {
  text-shadow : 0 0 15px #000000;
}
</style>
