<template>
  <v-tooltip
    v-show="userIsAuthorOf(subject) && 'DRAFT' === subject.state"
    :top="tooltipTop"
    :right="tooltipRight"
    :bottom="tooltipBottom"
    :left="tooltipLeft"
  >
    <template #activator="{ on, attrs }">
      <v-btn
        v-show="userIsAuthorOf(subject) && 'DRAFT' === subject.state"
        v-bind="attrs"
        :fab="floatingActionButton"
        :small="small"
        :text="small && ! floatingActionButton"
        color="accent"
        v-on="on"
        @click="startPublication"
      >
        <v-icon :small="small">mdi-publish</v-icon>
      </v-btn>
    </template>

    <span>{{ $t('blog.publish.button') }}</span>
  </v-tooltip>
</template>

<script>
import ButtonMixin from '../../mixins/button.mixin'

export default {
  name: 'BlogPublishButton',
  mixins: [ButtonMixin],
  methods: {
    startPublication(event) {
      this.setInProgress()
      this.$emit('click', event)
    }
  }
}
</script>
