<template>
  <v-form ref="form" class="px-5 py-5">
    <v-textarea
      v-model="data"
      :counter="limitMax"
      :rules="rules"
      :label="$t('blog.reply.add.label')"
      rows="2"
      autofocus
      auto-grow
      @keyup="updateContent"
    />
    <slot />
  </v-form>
</template>

<script>
import {ConstraintBuilder} from '../../Library/form/constraints'

export default {
  name: 'BlogPostReplyForm',
  props: {
    content: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      data: this.content,
      limitMax: 2500,
      limitMin: 10
    }
  },
  computed: {
    rules() {
      const rules = []

      const Constraints = ConstraintBuilder(this.$i18n)

      rules.push(Constraints.greaterThanOrEqual(this.limitMin, 'blog.reply.value'))
      rules.push(Constraints.lesserThanOrEqual(this.limitMax, 'blog.reply.value'))

      return rules
    }
  },
  methods: {
    updateContent() {
      this.$emit('content-updated', this.data || this.$t('blog.reply.add.placeholder'))
    },
    clear() {
      this.data = ''
    }
  }
}
</script>
