<template>
  <v-btn
    :class="classes"
    :disabled="isDisabled"
    color="primary"
    elevation="2"
    :fab="floatingActionButton"
    :small="small"
    :outlined="small && ! floatingActionButton"
    @click="setInProgress"
  >
    <v-icon :small="small">mdi-message-reply</v-icon>
    <span class="ml-1 hidden-lg-and-down"><slot>{{ $t('blog.reply.add.button') }}</slot></span>
  </v-btn>
</template>
<script>
import _ from 'lodash'
import ButtonMixin from '../../mixins/button.mixin'

export default {
  name: 'BlogReplyButton',
  mixins: [ButtonMixin],
  computed: {
    subjectIsAuthoredByUser() {
      return this.isCurrentUser(this.subject.author)
    },
    subjectHasReplyByUser() {
      return 0 < _.filter(this.subject.replies, reply => this.isCurrentUser(reply.author)).length
    },
    isDisabled() {
      return this.disabled
        || this.inProgress
        || ! this.userIsSignedIn
        || this.subjectIsAuthoredByUser
        || this.subjectHasReplyByUser
    }
  }
}
</script>
